apiVersion: v1
kind: Service
metadata:
  name: order-service
  labels:
    app: order-service
    service: order
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8002
    protocol: TCP
    name: http
  selector:
    app: order-service
